#home {
    display: flex;
    margin-top: 100px;
    text-align: center;
}
#home p {
    margin-top: 50px;
    font-size: larger;
}

#sobre {
    display: flex;
    text-align: center;
    margin-top: 100px;
}
#sobre h2 {
 margin-top: 50px;
}

#contato {
    align-items: center;
    text-align: center;
    margin-left: 40%;
    margin-top: 10%;
}
  
footer{
    text-align: center;
    font-size: larger;
    margin-top: 50px;
}